<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a href="#" class="websiteName"><mat-icon>pets</mat-icon>Pet Clinic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-success" type="submit" routerLink="register"> Sign Up</button>
      </li>
    </ul>
  </div>
</nav>

    <div class="container">
      <h1>Pet Profile</h1>
      <p>Enter email to receive pet data</p>
      <hr>
  
      <label for="email"><b>User Data</b></label>
      <input type="text" placeholder="Enter Email" name="email" #email required>

      <hr>  
      <button (click)="getProfileData(email.value)"class="registerbtn">Get Data</button>
      <button (click)="getAllProfiles()" class="registerbtn">Get All Data</button>
    </div>


    <div *ngFor="let item of dataList">{{item}}>
      <ul>
        <li>{{item}}</li>
      </ul>
    </div>

    <div *ngFor="let data of allUserList; let i = index">
      <ul>
        <li>First Name:{{data.firstName}}
          Last Name:{{data.lastName}}
          Age:{{data.age}}
          Address:{{data.address}}
          Pet Name:{{data.petName}}
          <input id="{{i}}"(click)="deleteUser($event)" type="button" value="Delete" class="deletebtn"/>
        </li>
      </ul>
    </div>
  

<router-outlet></router-outlet>