<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a routerLink="" class="websiteName"><mat-icon>pets</mat-icon>Pet Clinic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  </div>
</nav>

    <div class="container">
      <h1>Pet Profile</h1>
      <p>Enter email to receive pet data</p>
      <hr>
  
      <label for="email"><b>User Data</b></label>
      <input type="text" placeholder="Enter Email" name="email" #email required>

      <hr>  
      <button (click)="getProfileData(email.value)"class="registerbtn">Get Data</button>
      <button (click)="getAllProfiles()" class="registerbtn">Get All Data</button>


    <div *ngFor="let item of dataList">
      <ul>
        <li>{{item}}</li>
      </ul>
    </div>

    <div *ngFor="let data of allUserList; let i = index">
      
      <details  class="profileDetail text-center">
        <summary class="profileSummary">Show more for user: {{data.email}}</summary>
          <ul class="text-left">
              <li>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName{{i}}" name="firstName" value="{{data.firstName}}">
              </li>
              <li>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName{{i}}" name="lastName" value="{{data.lastName}}">
              </li>
              <li>
                <label for="age">Age:</label>
                <input type="text" id="age{{i}}" name="age" value="{{data.age}}">
              </li>
              <li>
                <label for="address">Address:</label>
                <input type="text" id="address{{i}}" name="address" value="{{data.address}}">
              </li>
              <li>
                <label for="petName">Pet Name:</label>
                <input type="text" id="petName{{i}}" name="petName" value="{{data.petName}}">
              </li>
              <li>
                <label for="gender">Gender:</label>
                <input type="text" id="gender{{i}}" name="gender" value="{{data.gender}}">
              </li>
              <li>
                <label for="contactPhone">Phone Number:</label>
                <input type="text" id="contactPhone{{i}}" name="contactPhone" value="{{data.contactPhone}}">
              </li>
              <li>
                <input id="{{i}}"(click)="deleteUser($event)" type="button" value="Delete" class="deletebtn"/>
                <input id="{{i}}"(click)="updateUser($event)" type="button" value="Update" class="updatebtn"/>
              </li>
          </ul>

      </details>
    </div>
  </div>


<router-outlet></router-outlet>