<div>
  <mat-toolbar color="primary">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="marginTiny">Sheridan Pet Clinic</span>
    <span class="relativeLeft">Call 123-123-1234</span>
    <span class="relativeRight">Book An Appointment</span>
    <span class="absoluteRight">Shop</span>
  </mat-toolbar>
</div>
<div>
  <mat-toolbar>
    <span class="messageBoardAlign">Message Board</span>
    <span class="absoluteRight">FAQ</span>
  </mat-toolbar>
</div>
<div>
  <a>
    <img src="assets/PetImage1.png" alt="image">
  </a>
</div>
<div>
  <a>
    <img src="assets/PetImage2.jpg" alt="image">
  </a>
</div>