.websiteName{
  font-size: 200%;
  margin-left: 0.5%;
  color: white;
}

.body{
  font-family: Calibri, sans-serif
}

a:hover, a:link, a { 
  text-decoration: none; 
  color:white
} 

#moreMarginSpace{
  margin-bottom: 5%;
}

.jumbotron{
  background-image: url("src\assets\PetImage1.png");
  background-size: cover;
  background-position: bottom;
  opacity: 0.9;
  color: white;
  text-align: center;
  border-radius: 0 !important;
  margin-bottom: 0%;
}

.jumbotron2{
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: 0%;
  text-align: center;
}

.jumbotron2image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:300px;
  max-height:200px;
  width: auto;
  height: auto;
}

.jumbotron3{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color:rgb(236, 232, 232);
}

.jumbotron4{
  background-image: url("src\assets\PetImage2.jpg");
  background-size: cover;
  background-position: bottom;
  opacity: 0.9;
  color: white;
  text-align: center;
  border-radius: 0 !important;
  margin-bottom: 0%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.jumbotron6{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: rgb(236, 232, 232);
}

.jumbotron7{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(228, 13, 78);
  text-align: center;
  color: white;
}

.jumbotron8{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.jumbotron9{
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: 0%;
  background-color: rgb(28, 115, 230);
  color: white;
  text-align: center;
}

.jumbotron10{
  margin-top: 0%;
  background-color: rgb(51, 51, 51);
  padding-top: 1%;
  padding-bottom: 0.5%;
  color: white;
}