  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink='register'>
        <mat-icon>face</mat-icon>
      </button>
    </mat-toolbar>
  </p> 

<!-- <div>
    <mat-toolbar color="primary">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="marginTiny">Sheridan Pet Clinic</span>
      <span class="relativeLeft">Call 123-123-1234</span>
      <span class="relativeRight">Book An Appointment</span>
      <span class="absoluteRight">Shop</span>
    </mat-toolbar>
  </div>
  <div>
    <a>
      <img src="assets/PetImage1.png" alt="image">
    </a>
  </div>
  <div>
    <a>
      <img src="assets/PetImage2.jpg" alt="image">
    </a>
  </div> -->