<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a routerLink="" class="websiteName"><mat-icon>pets</mat-icon>Pet Clinic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="contact" >Contact</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" type="submit" routerLink="register">Register</button>
      </li>
    </ul>
  </div>
</nav>


<div class="jumbotron" >
  <div class="row">
    <div class="col">
      <h1>PET'S DESERVE THE BEST IN VETERINARY CARE.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 >OUR HONEST AND CARING TEAM WILL ENSURE IT.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Have any question or want to know more about your pet?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button id="moreMarginSpace" class="btn btn-danger" type="submit" routerLink="board">LEARN MORE</button>
    </div>
  </div>
  <div id="moreMarginSpace" class="row">
    <div class="col-6">
      <h2>Professionalism</h2>
      <h3>Having the best vets in the buisness.</h3>
    </div>
    <div class="col-6">
      <h2>Cleanliness</h2>
      <h3>Keeping our facility in top notch condition.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Trust</h2>
      <h3>Having a happy customer is a top priority.</h3>
    </div>
    <div class="col-6">
      <h2>Honesty</h2>
      <h3>Fully transparent with our clients.</h3>
    </div>
  </div>
</div>

<div class="jumbotron2">
  <div class="row">
    <div class="col">
      <img class="jumbotron2image" src="assets\award.png">
      <h3>Our team has some of the highest education</h3>
      <h5>We want you to feel comfortable and earn your trust with taking care of your pet. We only hire employees with the highest in veterinary certificates.</h5>
      <div>
        <button class="btn btn-danger" type="submit" routerLink="">LEARN ABOUT OUR EDUCATION</button>
      </div>
    </div>
    <div class="col">
      <img class="jumbotron2image" src="assets\card.png">
      <h3>We offer payment plans</h3>
      <h5>Customer flexability is what we strive for, having many payment options with the addition of payment plans, will suit everyones needs.</h5>
      <div>
        <button class="btn btn-danger" type="submit" routerLink="">MORE PAYMENT OPTIONS</button>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron3">
  <div class="row">
    <div class="col">
      <h3>Contact Us</h3>
      <h5>We'd love to hear from you</h5>
      <button class="btn btn-secondary" type="submit" routerLink="">Learn More</button>
    </div>
    <div class="col">
      <h3>Our Hospital</h3>
      <h5>Modern and comfortable for both pets and clients.</h5>
      <button class="btn btn-secondary" type="submit" routerLink="">Learn More</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Our Team</h3>
      <h5>Being dedicated to your pets health</h5>
      <button class="btn btn-secondary" type="submit" routerLink="">Learn More</button>
    </div>
    <div class="col">
      <h3>Services</h3>
      <h5>We offer many services in order to keep your pet healthy</h5>
      <button class="btn btn-secondary" type="submit" routerLink="">Learn More</button>
    </div>
  </div>
</div>

<div class="jumbotron4">
  <div class="row">
    <div class="col">
      <h1>This is a Test</h1>
    </div>
  </div>
</div>

<div class="jumbotron5">
  <div class="row">
    <div class="col">
      <h3>Puppy Health</h3>
      <h5>filler</h5>
    </div>
    <div class="col">
      <h3>Kitty Health</h3>
      <h5>filler</h5>
    </div>
  </div>
</div>

<div class="jumbotron6">
  <div class="row">
    <div class="col">
      <h3>READY TO BOOK WITH US?</h3>
      <button class="btn btn-secondary" type="submit" routerLink="">BOOK NOW</button>
    </div>
  </div>
</div>

<div class="jumbotron7">
  <div class="row">
    <div class="col">
      <h1>EMERGENCY?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>For more information click below</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" type="submit" routerLink="board">here</button>
    </div>
  </div>
</div>

<div class="jumbotron8">
  <div class="row">
    <div class="col">
      <h3>SELF DIAGNOSE YOUR PET BELOW</h3>
      <button class="btn btn-secondary" type="submit" routerLink="board">TRY ME</button>
    </div>
  </div>
</div>

<div class="jumbotron9">
  <div class="row">
    <div class="col">
      <h3>CONTACT INFORMATION</h3>
      <h5>p@gmail.com</h5>
    </div>
    <div class="col">
      <h3>HOURS OF OPERATION</h3>
      <h5>closed on holidays</h5>
    </div>
  </div>
</div>

<div class="jumbotron10">
  <div class="row">
    <div class="col">
      <h5>&copy; 2020 Sheridan College</h5>
    </div>
  </div>
</div>
</body>