.websiteName{
  font-size: 200%;
  margin-left: 0.5%;
  color: white;
}

a:hover, a:link, a { 
  text-decoration: none; 
  color:white
} 

.jumbotron{
  background-image: url("src\assets\PetImage1.png");
  background-size: 100% 100%;
  color:white;
  text-align: center;
  background-position: center;
  opacity: 0.9;
  background-repeat: no-repeat; 
  padding-top: 56.25%;
}

