<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="#" class="websiteName"><mat-icon>pets</mat-icon>Pet Clinic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-success" type="submit" routerLink="register"> Sign Up</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1>Edit Role</h1>
    <p>Enter role to see which users are under that type.</p>
    <hr>

    <label for="role"><b>Roles</b></label>


    <hr>  
    <button type="button" (click)="getAdmins();" class="btn btn-primary">Admin</button>
    <button type="button" (click)="getDoctors();" class="btn btn-primary">Doctor</button>
    <button type="button" (click)="getUsers();" class="btn btn-primary">User</button>

  <div *ngFor="let data of allRolesList; let i = index">
        <ul class="text-left">
          <li>
            <input type="checkbox" id="{{i}}" (change)="editModel(i)" name="roleIndex{{i}}" [checked]="data.IsSelected">
            <label for="{{i}}">{{data.Username}}</label><br>
          </li>
        </ul>
  </div>


  <div>
    <button type="button" (click)="sendEdit();" class="btn btn-primary">Update</button>
  </div>
</div>
