<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a routerLink="" class="websiteName"><mat-icon>pets</mat-icon>Pet Clinic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  </div>
</nav>

    <div class="form-group">
      <label for="exampleInputEmail1">Enter Your Question</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Question">
      <small id="emailHelp" class="form-text text-muted">This will be anonymous </small>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
<div class="summaryContainer">
    <div *ngFor="let data of allQuestionsList; let i = index">
      <details  class="profileDetail text-center">
        <summary class="profileSummary" for="{{i}}">{{data.Question}}</summary>
          <ul class="text-left">
              <li>
                <label for="{{i}}">{{data.Answer}}</label><br>
                <button mat-button (click)="likeButton()"  [ngClass]="{'grey' : toggle, 'red': !toggle}">
                  <mat-icon>favorite</mat-icon>
                </button>          
           </li>
          </ul>
      </details>
    </div>
  </div>