<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="#" class="websiteName"><mat-icon>pets</mat-icon>Pet Clinic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-success" type="submit" routerLink="register">Register</button>
        </li>
      </ul>
    </div>
  </nav>

    <div class="form-group">
      <label for="exampleInputEmail1">Enter Your Question</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Question">
      <small id="emailHelp" class="form-text text-muted">This will be anonymous </small>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>


      <div>      
        <details  class="profileDetail text-center">
          <summary class="profileSummary">Why is my cat running from me?</summary>
            <ul class="text-left">
                <li>
                  <label for="ans1">He does not like you</label>
                </li>
                <li>
                  <label for="ans2">Cats are weird</label>
                </li>
            </ul>
        </details>
      </div>

      <div>      
        <details  class="profileDetail text-center">
          <summary class="profileSummary">I keep sneezing from my cat but why?</summary>
            <ul class="text-left">
                <li>
                  <label for="ans3">Maybe you are allergic</label>
                </li>
                <li>
                  <label for="ans4">Its FLU SEASON!</label>
                </li>
            </ul>
        </details>
      </div>

      <div>      
        <details  class="profileDetail text-center">
          <summary class="profileSummary">Why is my dog so hairy?</summary>
            <ul class="text-left">
                <li>
                  <label for="ans5">Its a dog...</label>
                </li>
            </ul>
        </details>
      </div>