<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink=''>
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
  </p> 

    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="firstName"><b>First Name</b></label>
      <input type="text" placeholder="Enter Name" name="firstName" #firstName required>

      <label for="lastName"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="lastName" #lastName required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" #email required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" #psw required>
  
      <label for="confirm"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="confirm" #confirm required>      

      <hr>  
      <button (click)="registerJSON(firstName.value,lastName.value,email.value,psw.value,confirm.value)" class="registerbtn">Register</button>
    </div>
  
<router-outlet></router-outlet>
